# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite3

# Node modules & frontend builds
node_modules/
dist/
.vite/

# Environment files & secret files
.env
.env.local

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
